# https://bretahajek.com/2016/11/electron-builder-appveyor-travis-ci-memory-king/
sudo: required
dist: trusty

language: c

node_js:
- 7

cache:
  directories:
  - node_modules

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - icnsutils
    - graphicsmagick
    - libgnome-keyring-dev
    - xz-utils
    - xorriso
    - xvfb

install:
- nvm install 7
- npm install

jobs:
  include:
  - stage: compile
    name: "osx"
    os: osx
    before_script:
    - npm install electron-builder@next
    - export DISPLAY=':99.0'
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start &
    - sleep 3
    script: npm run build
  - stage: compile
    name: "linux"
    os: linux
    env: CC=clang CXX=clang++ npm_config_clang=1
    compiler: clang
    before_script:
    - npm install electron-builder@next
    - export DISPLAY=':99.0'
    - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start &
    - sleep 3
    script: npm run build
  - stage: deploy
    name: "Deploy to gh-pages"
    before_install:
    - cd docs
    script:
    - npm run buildDocs
    - npm run deploy
